.clangd
build/
compile_commands.json
Dockerfile
.history
.vscode

*/*.egg-info/*
python/examples/*.egg-info/*
python/examples/*_tensorboard
python/examples/logs_*
python/examples/data/*

python/examples/tds_manipulation/envs/__pycache__/*
python/examples/tds_manipulation/envs/__pycache__

isaacgymenvs/runs
isaacgymenvs/runs/*
isaacgymenvs/videos
isaacgymenvs/videos/*


isaacgymenvs/logs/*

isaacgymenvs/ckpts/*

isaacgymenvs.egg-info
isaacgymenvs.egg-info/*

*/__pycache__
__pycache__
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

assets/retar_data

*.npy

isaacgymenvs/runs*
isaacgymenvs/runs*/*

isaacgymenvs/isaacgym_rl_exp_*


